.section__padding {
  padding: 30px;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: #d8dadc;
}

a {
  color: unset;
  text-decoration: none;
}